.fields {
  width: 100%;
}

.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

.stepper-button {
  padding: 10px 30px;
  margin: 0 10px;
  background-color: #3167b9 !important;
  color: white;
  border-radius: 20px;
  box-shadow: 1px 2px rgb(131, 129, 129);
}
