.fields {
  width: 100%;
}

.action-button {
  padding: 8px 24px;
  margin: 0 10px;
  background-color: #3167b9 !important;
  color: white;
  border-radius: 20px;
  box-shadow: 1px 2px rgb(131, 129, 129);
}
