.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

.stepper-button {
  padding: 10px 30px;
  margin: 0 10px;
  background-color: #3167b9 !important;
  color: white;
  border-radius: 20px;
  box-shadow: 1px 2px rgb(131, 129, 129);
}

.fields {
  width: 100%;
}
.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #1976d2;
}
