<div class="p-3">
  <form [formGroup]="electiveForm" (ngSubmit)="submitPreferences()">
    <div class="form-group mb-3">
      <label>Select Module</label>
      <select
        class="form-control"
        formControlName="moduleId"
        (change)="onModuleChange()"
      >
        <option value="">Select Module</option>
        <option *ngFor="let m of modules" [value]="m._id">
          {{ m.moduleName }}
        </option>
      </select>
    </div>

    <div *ngIf="selectedModule">
      <h4>{{ selectedModule.moduleName }}</h4>
      <div
        formArrayName="preferences"
        *ngFor="let ctrl of preferencesArray.controls; let i = index"
        class="form-group mb-3"
      >
        <label>Preference {{ i + 1 }}</label>
        <select class="form-control" [formControlName]="i" required>
          <option *ngFor="let sub of selectedModule?.subjects" [value]="sub">
            {{ sub }}
          </option>
        </select>
      </div>

      <button class="btn btn-success" type="submit">Submit Preferences</button>
    </div>
  </form>
</div>
